# Created by .ignore support plugin (hsz.mobi)
.env

public_html/api/microblog-config.php
.github-last-commit-token
/.idea/.gitignore
/api/microblog-config-local.php
/api/microblog-config.php
/.idea/modules.xml
/.idea/Portfolio_Website.iml
/.idea/vcs.xml
.github_actions_secrets
node_modules/
__pycache__/
playwright-report/
test-results/
