/* General styling */
body {
    font-family: "Raleway", "Roboto", sans-serif;
    font-size: 1rem;
}

footer {
    clear: both;
}

iframe {
    padding: 3% 0;
}

#loader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF url('https://media1.giphy.com/media/E6jscXfv3AkWQ/giphy.gif') no-repeat center;
    z-index: 999;
}

/* Left column */
[class*="col-"] {
    padding-top: 3%;
    padding-bottom: 3%;
}

.profile {
    margin-bottom: 10px;
}

ul.network-icon {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

/* Center column*/
ul.publication-content {
    display: flex;
    list-style: none;
    padding: 0;
}

/* Right column */
nav li {
    list-style: none;
}

