/* General styling */
body {
    font-family: "Raleway", "Roboto", sans-serif;
    font-size: 1rem;
}

/* Left column */
ul.network-icon {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

img.profile {
    width: 100%;
    height: auto;
}

/* Right column */
nav li {
    list-style: none;
}