<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Flawnson</title>
    <meta name="description" content="{{excerpt}}">
    <link rel="icon" type="image/png" href="/assets/images/Favicon.png">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/blog.css">
</head>
<body>
<div class="container-fluid blog-shell">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="blog-inner">
                <header class="blog-header">
                    <p class="blog-kicker">
                        <a href="/">flawnson.com</a> / <a href="/blog/">blog</a> / <span>{{title}}</span>
                    </p>
                    <div class="blog-meta">
                        <time datetime="{{date_iso}}">{{date_display}}</time>
                    </div>
                    <h1 class="blog-title">
                        {{title}}
                    </h1>
                    <div class="blog-meta">
                        {{tags_html}}
                    </div>
                    <p class="blog-excerpt">{{excerpt}}</p>
                </header>

                <article class="blog-article">
                    {{content}}
                </article>

                <p class="blog-kicker">
                    <a href="/">flawnson.com</a> / <a href="/blog/">blog</a> / <span>{{title}}</span>
                </p>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/blog.js"></script>
</body>
</html>